.card {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFCC; /* Color amarillo pálido */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input {
    max-width: 100%;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    margin-bottom: 10px;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
}

.input-group:hover .label, .input:focus {
    color: #05060fc2;
}

.button-confirm {
    background-color: #FFFF99; /* Color amarillo pálido */
    border: none;
    border-radius: .5rem;
    color: #05060f;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s;
    margin-top: 10px;
}


    .button-confirm:hover {
        background-color: #CCCCCC; /* Cambia de color al pasar el ratón */
    }

.button-cancel {
    background-color: #FFFF99; /* Color amarillo pálido */
    border: none;
    border-radius: .5rem;
    color: #05060f;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s;
    margin-top: 10px;
}


    .button-cancel:hover {
        background-color: #CCCCCC; /* Cambia de color al pasar el ratón */
    }
